doctype html
html
  head
    title Weather App
    style 
      include ../views/style.css

  body
    .container
      h1 Weather App
      p.subtitle Check weather of any city

      form(action="/weather" method="get")
        input(type="text" name="city" placeholder="Enter city")
        button Search

      if weather
        .card
          h2 Weather of #{city}
          img(src=`https://openweathermap.org/img/wn/${weather.weather[0].icon}@2x.png`)
          h3 #{weather.main.temp} °C
          p Humidity: #{weather.main.humidity} %
          p Condition: #{weather.weather[0].description}s